*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  --font: 'Inter', Arial, Helvetica, sans-serif;
  --font-size-tcat: 1.125rem;
  --font-size-card: 0.875rem;
  --red-accent: #fd1553;
  --grey: #979797;
  --grey-darken-1: #4a4a4a;
  --grey-darken-2: #393939;
  --grey-darken-3: #292929;
}

body {
  background-color: var(--grey);
}

body,
input,
button {
  margin: 0;
  padding: 0;
}

input {
  font-family: var(--font);
}

input:focus {
  outline: none;
}

input::placeholder {
  text-transform: initial;
  color: var(--grey-darken-1);
}

input,
button {
  border: none;
}

.container {
  max-width: 360px;
  min-height: 720px;
  margin: 96px auto 96px auto;
  border: 5px solid black;
  border-radius: 20px;
  background-color: var(--grey-darken-3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.12),
    0 1px 10px rgba(0, 0, 0, 0.2);
}
